@page "/products"
@using Frontend.Dtos
@using Frontend.Models
@inject HttpClient http
<h3>Products</h3>
<p class="text-danger">@errorMessage</p>
<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Variants</th>
         </tr>
    </thead>
    <tbody>
        @foreach(var product in products)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>
                    <ul>
                        @foreach(var variant in product.Variants)
                        {
                            <li>@variant.VariantName
                            <ul>
                                @foreach(var subVariant in variant.SubVariants)
                                {
                                    <li>@subVariant.SubVariantName </li>
                                }
                            </ul>
                            </li>

                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Product> products = new();

    public Products(string errorMessage)
    {
        this.errorMessage = errorMessage;
    }
    public Products()
    {
    }

    public Products(HttpClient http)
    {
        this.http = http;
    }
    private string errorMessage = string.Empty;

    public Products(List<Product> products)
    {
        this.products = products;
    }

    protected override async Task OnInitializedAsync()
    {
        try{
            products = await http.GetFromJsonAsync<List<Product>>("products");
        }
        catch(HttpRequestException ex)
        {
            errorMessage = $"Error in fetching products:{ex.Message}";
        }

    }
}
